<div class="flex-between">
  <h1>List Pool</h1>
  <a href="/api/v1/pools/export-pools" class="btn">Download CSV</a>
</div>

<div class="table-wrapper mt-8">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>label</th>
        <th>status</th>
        <th>fish species</th>
        <th>fish count</th>
        <th>manager</th>
        <th>owner</th>
        <th>fill date</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {{#each pools}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.label}}</td>
        <td>{{this.status}}</td>
        <td>{{this.fish_species}}</td>
        <td>{{this.fish_count}}</td>
        <td>{{this.manager}}</td>
        <td>{{this.owner}}</td>
        <td>{{this.fill_date}}</td>
        <td><a href="/pools/manage/{{this.id}}" class="btn">Manage</a></td>
      </tr>
      {{else}}
      <tr>
        <td colspan="3" class="text-muted">No pools found.</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>